@font-face {
    font-family: 'Roboto mono bold';
    src: url(../fonts/Roboto_Mono/RobotoMono-Bold.ttf);
}
@font-face {
    font-family: 'Roboto mono boldItalic';
    src: url(../fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf);
}
@font-face {
    font-family: 'Roboto mono italic';
    src: url(../fonts/Roboto_Mono/RobotoMono-Italic.ttf);
}
@font-face {
    font-family: 'Roboto mono light';
    src: url(../fonts/Roboto_Mono/RobotoMono-Light.ttf);
}
@font-face {
    font-family: 'Roboto mono lightItalic';
    src: url(../fonts/Roboto_Mono/RobotoMono-LightItalic.ttf);
}
@font-face {
    font-family: 'Roboto mono medium';
    src: url(../fonts/Roboto_Mono/RobotoMono-Medium.ttf);
}
@font-face {
    font-family: 'Roboto mono mediumItalic';
    src: url(../fonts/Roboto_Mono/RobotoMono-MediumItalic.ttf);
}
@font-face {
    font-family: 'Roboto mono regular';
    src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: 'Roboto mono thin';
    src: url(../fonts/Roboto_Mono/RobotoMono-Thin.ttf);
}
@font-face {
    font-family: 'Roboto mono thinItalic';
    src: url(../fonts/Roboto_Mono/RobotoMono-ThinItalic.ttf);
}

html {
    /*overflow-x: hidden;*/
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto mono regular;
    display: grid;
    grid-template-columns: 470px 1fr;
    grid-template-rows: minmax(100vh, 1fr);
}

.side-bar {
    width: 100%;
    font-weight: 750;
    background-color: lavender;
    padding: 50px 0;
    max-height: 100%;
}

.side-bar-header {
    text-align: center;
    font-size: 3em;
    margin: 0;
    margin-bottom: 100px;
    height: auto;
    cursor: default;
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
}

.apis-list {
    margin: 0;
    font-size: 1.4em;
}

.apis-list ul {
    overflow: hidden;
}

.apis-list li {
    margin: 0;
    line-height: 70px;
}

li.folder {
    margin: 20px 0;
}

.apis-list li.active {
    background-color:lightblue;
}

.folder-info {
    cursor: pointer;
}

.folder-info::before {
    content: '▼';
    margin-left: -25px;
}

.folder-info.closed::before {
    content: '▲';
}

.folder-info.closed+ul {
    height: 0;
}

.apis-list a, .content a {
    text-decoration: none;
    color: #00458b;
    transition-duration: 200ms;
    cursor: pointer;
    font-weight: 750;
}

.apis-list a:hover, .content a:hover {
    text-decoration: underline;
    color: steelblue;
}

/*-------------
    Main styles
-------------*/

.content {
    height: 100%;
    width: 100%;
}

.content>* {
    padding-left: 40px;
}

.method-container, .properties-container {
    margin: 25px 0 25px 25px;
}

.header {
    margin: 35px 0;
    font-style: italic;
    font-weight: 800;
}

.arg {
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
}

.description {
    background-color: rgb(226, 226, 226);
    margin: 10px 0;
}

.description.method, .description.prop {
    padding: 15px;
}

.description.post {
    padding: 15px 40px;
    margin: 40px 0;
}

.arg-name {
    width: max-content;
    margin: 10px 0;
    font-weight: 700;
    font-size: 20px;
}

.arg-container {
    margin-right: 20px;
    background-color: rgb(226, 226, 226);
    padding: 15px;
    width: max-content;
    display: inline-block;
}

.arg-description {
    margin: 10px 0;
}

.lines-container {
    background-color: lavender;
    width: max-content;
}

.prop-name {
    margin: 10px 0;
    font-weight: 700;
    font-size: 20px;
}

.prop-description {
    margin: 10px 0;
    background-color: rgb(226, 226, 226);
    width: max-content;
}

.bool {
    color: royalblue;
}

.word {
    font-weight: 600;
}

.line-key {
    font-style: oblique;
    font-weight: 600;
}

.type {
    font-style: normal;
    font-weight: 300;
}

.struct-word {
    color: darkviolet;
}

.html {
    color: crimson;
}

.import-string {
    margin-left: 40px;
    padding-left: 0;
    background-color: rgb(221, 233, 255);
    font-weight: 550;
    font-size: 1.2em;
    width: max-content;
}

.string {
    color: rgb(25, 180, 25);
}

.container-header {
    font-size: 1.5em;
    font-weight: 550;
}

.version {
    position: absolute;
    top: 0;
    right: 0;
    color: darkgray;
}